<footer class="footer has-background-primary-dark pb-6">
  <div class="container has-text-light">
    <div class="is-flex is-justify-content-space-between is-size-4">
      <p>Created for the <a class="has-text-light is-underlined">Hashnode X Linode Hackathon</a>.</p><p>© 10MinuteEndpoint.</p>
    </div>
    <div class="mt-3 is-flex is-justify-content-space-between is-size-4">
        <a class="has-text-light" href="">Hashnode</a>
        <a class="has-text-light" href="">Linode</a>
        <a class="has-text-light" href="">Blog</a>
        <a class="has-text-light" href="">Source</a>
    </div>
  </div>
</footer>