<footer class="footer has-background-primary-dark pb-6">
    <div class="container has-text-light mw-1024">
        <div class="is-flex is-justify-content-space-between is-size-4-tablet">
            <p>Created for the <a href="https://townhall.hashnode.com/build-with-linode-hackathon-june-2022" target="_blank" class="has-text-light is-underlined">Linode x Hashnode Hackathon</a></p>
            <a href="/" class="ml-4 has-text-light">© 10MinuteEndpoint</a>
        </div>
    </div>
</footer>
<div class="mt-0 is-flex is-justify-content-center is-size-4 has-background-white">
    <a href="https://hashnode.com/" target="_blank" class="navbar-item">
        <img class="mr-2" src="/icons/hashnode-icon.png" alt="Hashnode Icon" title="Hashnode"> <span class=" is-hidden-mobile">Hashnode</span>
    </a>
    <a href="https://www.linode.com/" target="_blank" class="navbar-item">
        <img class="mr-2" src="/icons/linode-icon.svg" alt="Linode Icon" title="Linode"> <span class=" is-hidden-mobile">Linode</span>
    </a>
    <a class="navbar-item">
        <img class="mr-2" src="/icons/blog-icon.png" alt="Blog Icon" title="Blog"> <span class=" is-hidden-mobile">About</span>
    </a>
    <a href="https://github.com/danidre14/10-minute-endpoint-nodejs" target="_blank" class="navbar-item">
        <img class="mr-2" src="/icons/github-icon.png" alt="Github Icon" title="Source"> <span class=" is-hidden-mobile">Github</span>
    </a>
</div>