<% var endpointUrl; var duetime; var user; var logs; %>
<nav class="has-background-white">
    <div class="container mw-1024">
        <div class="is-flex is-justify-content-space-between">
            <div class="is-flex is-align-items-center">
                <a href="/" class="navbar-item">
                    10 Minute Endpoint
                </a>
            </div>

            <div class="is-flex is-align-items-center">
                <a class="navbar-item">About</a>
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="https://github.com/danidre14/10-minute-endpoint-nodejs" target="_blank" class="button is-dark">Source</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="p-6 hero has-background-primary-dark has-text-light">
    <div class="hero-content has-text-centered mw-1024">
        <div class="container">
            <h1 class="title has-text-light is-1">Welcome to 10 Minute Endpoint</h1>
            <h2 class="subtitle has-text-light is-3 mb-6">Endpoint testing made easy</h2>
            <div class="columns is-centered">
                <div class="column is-two-thirds is-flex-tablet">
                    <input class="input is-primary is-outlined mb-4" value="<%= endpointUrl %>" disabled />
                    <button class="button is-primary mb-4 ml-4" onClick="copyEndpointUrlToClipboard(event)">Copy To Clipboard</button>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column pt-0 is-half has-text-white-ter">
                    <p id="expiryText">Your endpoint will expire in
                        <span id="duetime">00:00</span>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<script src="js/countdown.js"></script>