<nav class="has-background-white">
    <div class="container mw-1024">
        <div class="is-flex is-justify-content-space-between">
            <div class="is-flex is-align-items-center">
                <a href="/" class="navbar-item is-flex is-align-items-center">
                    <img class="mr-2" src="/icons/10me-logo-primary.png" alt="logo"> <span class="is-hidden-mobile">10 Minute Endpoint</span>
                </a>
                
            </div>

            <div class="is-flex is-align-items-center">
                <a class="navbar-item">About</a>
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="https://github.com/danidre14/10-minute-endpoint-nodejs" target="_blank" class="button is-dark">Source</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>