*, *::before, *::after {
    box-sizing: border-box;
}

.border-radius {
    border-radius: 6px;
}

.h-card {
    height: 400px;
}

.h-full {
    height: 100%;
}

.fill-height {
    height: 100%;
}

.overflow-auto {
    overflow: auto;
}

.is-hover {
    cursor: pointer;
}

.vh-full {
    min-height: 100vh;
}

.w-6 {
    width: 1.5rem;
}

.h-6 {
    height: 1.5rem;
}

.mw-1024 {
    max-width: 1024px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}